<html xmlns:th="https://www.thymeleaf.org">
<div th:replace="~{fragments/common-ui :: header}"></div>
<body>
<div th:replace="~{fragments/common-ui :: menu}"></div>
<div class="container">
    <div class="card">
        <!--Header started -->
        <div class="card-header bg-primary text-center text-white">
            <h3>Appointment Register</h3>
        </div>
        <!--header ends -->
        <!--body started -->
        <div class="card-body">
            <form th:action="@{/appointment/save}" method="post" id="docForm">
                <!--row DOCTOR integration at ui Row 0-->
                <div class="row">
                    <div class="col-2">
                        <label for="doctors">Doctor</label>
                    </div>
                    <div class="col-4">
                        <select name="doctor.id" id="doctors" class="form-control">
                            <option value="">&#45;&#45;SELECT&#45;&#45;</option>
                            <option th:each="ob:${doctors}" th:value="${ob.key}" th:text="${ob.value}"></option>
                        </select>
                    </div>
                    <div class="col-6">
                        <span id="specializationError"></span>
                    </div>
                </div>
                <!--row number 1 -->
                <div class="row">
                    <div class="col-2">
                        <label for="date">Appointment Date</label>
                    </div>
                    <div class="col-4">
                        <input
                                type="date"
                                name="date"
                                id="date"
                                class="form-control"
                        />
                    </div>
                    <div class="col-6">
                        <span id="dateError"></span>
                    </div>
                </div>
                <!--row number 2 -->
                <div class="row">
                    <div class="col-2">
                        <label for="noOfSlots">No Of Slots</label>
                    </div>
                    <div class="col-4">
                        <input
                                type="text"
                                name="noOfSlots"
                                id="noOfSlots"
                                class="form-control"
                        />
                    </div>
                    <div class="col-6">
                        <span id="noOfSlotsError"></span>
                    </div>
                </div>
                <!--row number 3 -->
                <div class="row">
                    <div class="col-2">
                        <label for="details">Details</label>
                    </div>
                    <div class="col-4">
                        <textarea name="details" id="details" class="form-control"></textarea>
                    </div>
                    <div class="col-6">
                        <span id="detailsError"></span>
                    </div>
                </div>

                <!--row number 4 -->
                <div class="row">
                    <div class="col-2">
                        <label for="amount">Fee</label>
                    </div>
                    <div class="col-4">
                        <input type="text" name="amount" id="amount" class="form-control">
                    </div>
                    <div class="col-6">
                        <span id="amountError"></span>
                    </div>
                </div>
                <!--all rows ends here-->
                <button type="submit" class="btn btn-success">
                    Create <i class="fa-sharp fa-solid fa-square-plus fa-beat fa-lg"></i>
                </button>
            </form>
        </div>
        <!--body ends -->
        <!--footer start -->
        <div class="card-footer bg-white text-info">
            <span th:text="${message}"></span>
        </div>
        <!--footer ends -->
    </div>
</div>
<script th:src="@{/health-care-js/appointment_validate.js}"></script>
</body>
</html>
