<html xmlns:th="https://thymeleaf.org">
<div th:replace="~{fragments/common-ui :: header}"></div>
<body>
<div th:replace="~{fragments/common-ui :: menu}"></div>
<div class="container">
    <div class="card">
        <!--Header started -->
        <div class="card-header bg-primary text-center text-white">
            <h3>Doctor data for appointment search</h3>
        </div>
        <!--header ends -->
        <!--body started -->
        <div class="card-body">
            <form th:action="@{/appointment/view}" method="get">
                <div class="row">
                    <div class="col-3">
                        <label for="specId">Choose Specialization : </label>
                    </div>
                    <div class="col-3">
                        <select name="specId" id="specId" class="form-control">
                            <option value="0">--View All Doctors--</option>
                            <option th:each="ob:${specializations}" th:value="${ob.key}" th:text="${ob.value}"></option>
                        </select>
                    </div>
                    <div class="col-6">
                        <button class="btn btn-success">Search</button>
                    </div>
                </div>
            </form>
            <table class="table">
                <tr class="table-hover bg-info text-white">
                    <!-- <th>ID</th>-->
                    <th></th>
                    <th>NAME</th>
                    <th>EMAIL</th>
                    <th>SPECIALIZATION</th>
                    <th>MOBILE</th>
                    <th>NOTE</th>
                    <th>OPERATION</th>
                </tr>
                <tr th:each="ob:${docList}">
                    <td><img th:src="${ob.imageLoc}" alt="doc-no-img" width="50" height="60"></td>
                    <td>[[${ob.firstName + ' '+ ob.lastName}]]</td>
                    <td th:text="${ob.email}"></td>
                    <td th:text="${ob.specialization.specName}"></td>
                    <td th:text="${ob.mobile}"></td>
                    <td th:text="${ob.note}"></td>
                    <td><a th:href="@{/appointment/viewSlots(docId=${ob.id})}" class="btn btn-info"> find Slots </a></td>
                </tr>
            </table>
        </div>
        <!--body ends -->
        <div class="card-footer" th:if="${message}!=null">
            <span th:text="${message}">message</span>
        </div>
    </div>
</div>
</body>
</html>
