<html xmlns:th="https://thymeleaf.org">
<div th:replace="~{fragments/common-ui :: header}"></div>
<body>
<div th:replace="~{fragments/common-ui :: menu}"></div>
<div class="container">
    <div class="card">
        <!--Header started -->
        <div class="card-header bg-primary text-center text-white">
            <h3>Doctor data</h3>
        </div>
        <!--header ends -->
        <!--body started -->
        <div class="card-body">
            <a th:href="@{/doctor/excel}" class="btn btn-success">Excel <i
                    class="fa fa-file-excel-o" aria-hidden="true"></i>
            </a>
            <table class="table">
                <tr class="table-hover bg-info text-white">
                    <!-- <th>ID</th>-->
                    <th></th>
                    <th>NAME</th>
                    <th>EMAIL</th>
                    <th>SPECIALIZATION</th>
                    <th>MOBILE</th>
                    <th>NOTE</th>
                    <th>ADDRESS</th>
                    <th>OPERATION</th>
                </tr>
                <tr th:each="ob:${allDoctors}">
                    <td><img th:src="${ob.imageLoc}" alt="doc-no-img" width="50" height="60"></td>
                    <td>[[${ob.firstName + ' '+ ob.lastName}]]</td>
                    <td th:text="${ob.email}"></td>
                    <td th:text="${ob.specialization.specName}"></td>
                    <td th:text="${ob.mobile}"></td>
                    <td th:text="${ob.note}"></td>
                    <td th:text="${ob.address}"></td>
                    <td><a th:href="@{/doctor/delete(id=${ob.id})}"
                           class="btn btn-danger"> <i class="fa-sharp fa-regular fa-trash-can fa-beat-fade"></i>
                    </a> | <a th:href="@{/doctor/edit(id=${ob.id})}" class="btn btn-warning"><i
                            class="fa-sharp fa-solid fa-user-pen fa-beat"></i>
                    </a></td>
                </tr>
            </table>
        </div>
        <!--body ends -->
        <div class="card-footer" th:if="${message}!=null">
            <span th:text="${message}">message</span>
        </div>
    </div>
</div>
</body>
</html>
