<html xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Patient Data</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"/>
    <link
            href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
            rel="stylesheet"/>
</head>
<body>
<div class="container">
    <div class="card">
        <!--Header started -->
        <div class="card-header bg-primary text-center text-white">
            <h3>Patinet data</h3>
        </div>
        <!--header ends -->
        <!--body started -->
        <div class="card-body">
            <a th:href="@{/patient/excel}" class="btn btn-success">Excel <i
                    class="fa fa-file-excel-o" aria-hidden="true"></i>
            </a>
            <table class="table">
                <tr class="table-hover bg-info text-white">
                    <th>NAME</th>
                    <th>GENDER</th>
                    <th>EMAIL</th>
                    <th>MOBILE</th>
                    <th>DOB</th>
                    <th>OPERATION</th>
                </tr>
                <tr th:each="ob:${allPatients}">
                    <td>[[${ob.firstName + ' '+ ob.lastName}]]</td>
                    <td th:text="${ob.gender}"></td>
                    <td th:text="${ob.email}"></td>
                    <td th:text="${ob.mobile}"></td>
                    <td th:text="${ob.dateOfBirth}"></td>
                    <td>[[${ob.pastMedicalHistory +"-"+ ob.ifOtherHistory}]]</td>
                    <td><a th:href="@{/patient/delete(id=${ob.id})}"
                           class="btn btn-danger"> DELETE <i class="fa fa-trash-o"
                                                             aria-hidden="true"></i>
                    </a> | <a th:href="@{/patient/edit(id=${ob.id})}" class="btn btn-warning"> EDIT
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    </a></td>
                </tr>
            </table>
        </div>
        <!--body ends -->
        <div class="card-footer" th:if="${message}!=null">
            <span th:text="${message}">message</span>
        </div>
    </div>
</div>
</body>
</html>
