<html xmlns:th="https://www.thymeleaf.org">
<div th:replace="~{fragments/common-ui :: header}"></div>

<body>
<div th:replace="~{fragments/common-ui :: menu}"></div>
<div class="container">
    <div class="card">
        <!--Header started -->
        <div class="card-header bg-primary text-center text-white">
            <h3>Doctor register</h3>
        </div>
        <!--header ends -->
        <!--body started -->
        <div class="card-body">
            <form th:action="@{/patient/update}" method="post" th:object="${patient}">
                <!--row number 0 -->
                <div class="row">
                    <div class="col-2">
                        <label for="id">ID</label>
                    </div>
                    <div class="col-4">
                        <input type="text" th:field="*{id}" class="form-control"
                               readonly="readonly"/>
                    </div>
                    <div class="col-6">
                        <span id="idError"></span>
                    </div>
                </div>
                <!--row number 1 -->
                <div class="row">
                    <div class="col-2">
                        <label for="firstName">First Name</label>
                    </div>
                    <div class="col-4">
                        <input
                                type="text"
                                th:field="*{firstName}"
                                id="firstName"
                                class="form-control"
                        />
                    </div>
                    <div class="col-6">
                        <span id="firstNameError"></span>
                    </div>
                </div>

                <!--row number 2 -->
                <div class="row">
                    <div class="col-2">
                        <label for="lastName">Last Name</label>
                    </div>
                    <div class="col-4">
                        <input
                                type="text"
                                th:field="*{lastName}"
                                id="lastName"
                                class="form-control"
                        />
                    </div>
                    <div class="col-6">
                        <span id="lastNameError"></span>
                    </div>
                </div>

                <!--row number 3 -->
                <div class="row">
                    <div class="col-2">
                        <label for="gender">Gender</label>
                    </div>
                    <div class="col-4">
                        <input type="radio" th:field="*{gender}" id="gender" value="Male" checked> Male
                        <input type="radio" th:field="*{gender}" id="gender2" value="Female"> Female
                        <input type="radio" th:field="*{gender}" id="gender3" value="Other"> other
                    </div>
                    <div class="col-6">
                        <span id="genderError"></span>
                    </div>
                </div>

                <!--row number 3 -->
                <div class="row">
                    <div class="col-2">
                        <label for="email">Email</label>
                    </div>
                    <div class="col-4">
                        <input
                                type="text"
                                th:field="*{email}"
                                class="form-control"
                        />
                    </div>
                    <div class="col-6">
                        <span id="emailError"></span>
                    </div>
                </div>

                <!--row number 4 -->
                <div class="row">
                    <div class="col-2">
                        <label for="mobile">Mobile</label>
                    </div>
                    <div class="col-4">
                        <input type="tel" th:field="*{mobile}" id="mobile" class="form-control">
                    </div>
                    <div class="col-6">
                        <span id="mobileError"></span>
                    </div>
                </div>

                <!--row number 5 -->
                <div class="row">
                    <div class="col-2">
                        <label for="dateOfBirth">Date of Birth</label>
                    </div>
                    <div class="col-4">
                        <input type="date" th:field="*{dateOfBirth}" id="dateOfBirth" value="1990-01-01"
                               class="form-control"/>
                    </div>
                    <div class="col-6">
                        <span id="dateOfBirthError"></span>
                    </div>
                </div>

                <!--row number 6 -->
                <div class="row">
                    <div class="col-2">
                        <label for="maritalStatus">Marital Status</label>
                    </div>
                    <div class="col-4">
                        <input type="radio" th:field="*{maritalStatus}" id="maritalStatus" value="Married" checked>
                        Married
                        <input type="radio" th:field="*{maritalStatus}" id="maritalStatus2" value="UnMarried"> UnMarried
                    </div>
                    <div class="col-6">
                        <span id="maritalStatusError"></span>
                    </div>
                </div>

                <!--row number 7 -->
                <div class="row">
                    <div class="col-2">
                        <label for="currentAddress">Current Address</label>
                    </div>
                    <div class="col-4">
                        <textarea th:field="*{currentAddress}" id="currentAddress" class="form-control"></textarea>
                    </div>
                    <div class="col-6">
                        <span id="currentAddressError"></span>
                    </div>
                </div>

                <!--row number 8 -->
                <div class="row">
                    <div class="col-2">
                        <label for="permanentAddress">Permanent Address</label>
                    </div>
                    <div class="col-4">
                        <textarea th:field="*{permanentAddress}" id="permanentAddress" class="form-control"></textarea>
                    </div>
                    <div class="col-6">
                        <span id="permanentAddressError"></span>
                    </div>
                </div>

                <!--row number 9 -->
                <div class="row">
                    <div class="col-2">
                        <label for="pastMedicalHistory">Past Medical History</label>
                    </div>
                    <div class="col-4">
                        <input type="checkbox" th:field="*{pastMedicalHistory}" id="pastMedicalHistory" value="Thyroid"
                        /> Thyroid
                        <input type="checkbox" th:field="*{pastMedicalHistory}" id="pastMedicalHistory2" value="Typhoid"
                        /> Typhoid
                        <input type="checkbox" th:field="*{pastMedicalHistory}" id="pastMedicalHistory3" value="Malaria"
                        >Malaria
                        <input type="checkbox" th:field="*{pastMedicalHistory}" id="pastMedicalHistory4"
                               value="Covid-19"
                        />Covid-19
                    </div>
                    <div class="col-6">
                        <span id="pastMedicalHistoryError"></span>
                    </div>
                </div>

                <!--row number 10 -->
                <div class="row">
                    <div class="col-2">
                        <label for="ifOtherHistory">If other histories
                            <input type="checkbox" th:field="*{pastMedicalHistory}" id="pastMedicalHistory5"
                                   value="ifOtherHistory"
                            />
                        </label>
                    </div>
                    <div class="col-4">
                        <input type="text" th:field="*{ifOtherHistory}" id="ifOtherHistory"
                               class="form-control">
                    </div>
                    <div class="col-6">
                        <span id="ifOtherHistoryError"></span>
                    </div>
                </div>


                <!--row number 11 -->
                <div class="row">
                    <div class="col-2">
                        <label for="note">Notes</label>
                    </div>
                    <div class="col-4">
                        <textarea th:field="*{note}" id="note" class="form-control"></textarea>
                    </div>
                    <div class="col-6">
                        <span id="noteError"></span>
                    </div>
                </div>

                <!--all rows ends here-->
                <button type="submit" class="btn btn-success">
                    Update <i class="fa-sharp fa-solid fa-pen-to-square"></i>
                </button>
            </form>
        </div>
        <!--body ends -->
        <!--footer start -->
        <div class="card-footer bg-white text-info">
            <span th:text="${message}"></span>
        </div>
        <!--footer ends -->
    </div>
</div>
<script th:src="@{/health-care-js/patient_validate.js}"></script>
</body>
</html>
