<html xmlns:th="https://www.thymeleaf.org">
<div th:replace="~{fragments/common-ui :: header}"></div>

<body>
<div th:replace="~{fragments/common-ui :: menu}"></div>
<div class="container">
    <div class="card">
        <!--Header started -->
        <div class="card-header bg-primary text-center text-white">
            <h3> User new password </h3>
        </div>
        <!--body started -->
        <div class="card-body">
            <form id="pwdForm" method="post" th:action="@{/user/pwdUpdate}">
                <!--row number 1 -->
                <div class="row">
                    <div class="col-2">
                        <label for="password">New Password</label>
                    </div>
                    <div class="col-4">
                        <input
                                class="form-control"
                                id="password"
                                name="password"
                                placeholder="Enter new password here" type="password"/>
                    </div>
                    <div class="col-6">
                        <span id="passwordError"></span>
                    </div>
                </div>
                <!--row number 2 -->
                <div class="row">
                    <div class="col-2">
                        <label for="password2">Re Enter Password</label>
                    </div>
                    <div class="col-4">
                        <input
                                class="form-control"
                                id="password2"
                                name="password2"
                                placeholder="Re Enter new password here" type="password"/>
                    </div>
                    <div class="col-6">
                        <span id="passwordError2"></span>
                    </div>
                </div>
                <!--all rows ends here-->
                <button class="btn btn-success" type="submit">
                    Update <i class="fa-sharp fa-solid fa-square-plus fa-beat fa-lg"></i>
                </button>
            </form>
        </div>
        <!--footer start -->
        <div class="card-footer bg-white text-info" th:if="${message!=null}">
            <span th:text="${message}"></span>
        </div>
        <!--footer ends -->
    </div>
</div>
<script>
  	$(document).ready(function() {
		$("passwordError").hide()
		$("passwordError2").hide()
		var passwordError = false
		var passwordError2 = false

		function validate_password() {
			var pwd1 = $("#password").val()
			var exp = /^[A-Za-z0-9\.\-\,\_]{6,20}$/;
			if (pwd1 == "") {
				$("#passwordError").show();
				$("#passwordError").html("*Password can not be empty");
				$("#passwordError").css("color", "red");
				passwordError = false;
			} else if (!exp.test(pwd1)) {
				$("#passwordError").show();
				$("#passwordError").html("*Password must be 4 to 25 characters");
				$("#passwordError").css("color", "red");
				passwordError = false;
			} else {
				$("#passwordError").hide();
				passwordError = true;
			}
			return passwordError;
		}

		function validate_password2() {
			var pwd1 = $("#password").val()
			var pwd2 = $("#password2").val()
			if (pwd1 !== pwd2) {
				$("#passwordError2").show()
				$("#passwordError2").html("Password is not matched, please check")
				$("#passwordError2").css('color', 'red')
				passwordError2 = false
			} else {
				$("#passwordError2").hide()
				passwordError2 = true
			}
			return passwordError2
		}
		$('#password').keyup(function() {
			validate_password()
		})
		$('#password2').keyup(function() {
			validate_password2()
		})

		$('#pwdForm').submit(function() {
			validate_password()
			validate_password2()
			if (passwordError && passwordError2) {
				return true
			} else {
				return false
			}
		})
	})

</script>
</body>
</html>
