<html xmlns:th="https://www.thymeleaf.org">
<div th:replace="~{fragments/common-ui :: header}"></div>

<body>
<div th:replace="~{fragments/common-ui :: menu}"></div>
<div class="container">
    <div class="card">
        <!--Header started -->
        <div class="card-header bg-primary text-center text-white">
            <h3> WELCOME TO HEALTH-CARE APPLICATION </h3>
        </div>
        <!--body started -->
        <div class="card-body">
            <img alt="Card image" class="card-img-top" style="width:100%" th:src="@{/images/home_background.png}">
        </div>
    </div>
</div>
</body>
</html>
